.AccordionSection .chevron {
    margin-left: auto;
    transition: transform 0.6s ease;
  }
  
  .rotate{
    transform: rotate(90deg);
  }
  
  .AccordionSection span p{
    font-size: calc(10px + 1vmin);
    padding: 5vh 20vh;
  }
  
  .AccordionSection span {
    overflow: hidden;
    background-color: #ccc;
    transition: max-height 1s ease-out;
    
    /*max-height: 0px;*/
  }
  
  .AccordionSection header:hover,
  .AccordionSection header.active{
    background-color: #777;
  }
  
  .AccordionSection header {
    cursor: pointer;
    background-color: #999;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0 20vh;
  }
  
  .AccordionSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
  }